.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  padding: 24px;
  /* height: 30rem; */
  /* border: 1px solid #d8d8d8; */
  border-radius: 0.4rem;
  background: #222;
}

.expression {
  color: #d8d8d8;
  margin-bottom: 0.4rem;
}
.label {
  color: #ffffff88;
  display: block;
  text-align: left;
  margin-right: auto;
  margin-top: 1.2rem;
  font-size: 0.875rem;
  margin-bottom: -0.5rem;
}
.label2 {
  color: #ffffff88;
  display: block;
  text-align: left;
  margin-right: auto;
  /* margin-top: 1.2rem; */
  font-size: 0.875rem;
  margin-bottom: -0.5rem;
}
.input {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.4rem;
  outline: none;
  background-color: #111;
  border: none;
  color: #fff;
}

.input2 {
  width: 100%;
  margin: 1rem 0;
  margin-bottom: 0;
  padding: 1rem;
  border-radius: 0.4rem;
  outline: none;
  background-color: #111;
  border: none;
  color: #fff;
}

.button {
  /* border: 1px solid #f35815; */
  border: none;
  /* padding:  */
  background-color: #f35815;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 0rem;
  margin-left: auto;
}

.button:disabled {
  background: #444;
}

.button:hover {
  transform: scale(1.1);
}

.answer {
  padding: 24px;
  background: #222;
  border-radius: 0.4rem;
  width: 100%;
  max-width: 30rem;
  margin-top: 20px;
}
